<?xml version="1.0"?>
<openbox_menu>

<menu id="root-menu" label="ArchBang">

  <item label="󰆍  Terminal">
    <action name="Execute" command="ghostty"/>
  </item>

  <item label="󰈹  Browser">
    <action name="Execute" command="thorium-browser"/>
  </item>

  <item label="󰉋  File Manager">
    <action name="Execute" command="thunar"/>
  </item>

  <item label="󰨙  Editor">
    <action name="Execute" command="l3afpad"/>
  </item>


  <separator/>

  <menu id="applications" label="Applications" execute="xdg_menu --format openbox3-pipe --root-menu /etc/xdg/menus/arch-applications.menu" />

  <separator/>
 
  <menu id="exit_menu" label="Exit">
    <item label="󰍃  Log Out">
      <action name="Exit"/>
    </item>
    <item label="󰤄= Sleep">
			<action name="Execute" command="systemctl hybrid-sleep"/>
    </item>
    <item label="󰜉  Reboot">
      <action name="Execute" command="systemctl reboot"/>
    </item>
    <item label="󰐥  Poweroff">
      <action name="Execute" command="systemctl poweroff"/>
    </item>
  </menu>

</menu>

B
B
A
A
A
A
A
A
A
A
A
A
A
B
B
A
A
</openbox_menu>
